
            .bg{
                
            }
            .br-top-20{
                margin-top: 20px;
            }
            .br-5{
                margin-bottom: 5px;
            }
            .br-10{
                margin-bottom: 10px;
            }
            body{
                background-color: #0e5a7f;
            }
            #logo{
                width: 160px;
            }
            #fb-icon{
                width: 34px;   
            }
            .required-feild{
                color: red;
            }
            .yellow-star{
                color: yellow;
            }
            .openCarousel{
                cursor: pointer;
            }
